:host {
    color: white;
    text-align: center;
    flex: 1 1 auto;
  }
 .decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
 }
 .form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #01ac01;;
    border-radius: 20px;
 }
 .form-left-decoration {
    bottom: 60px;
    left: -30px;
 }
 .form-right-decoration {
    top: 60px;
    right: -30px;
 }
 .form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
 }
 .form-left-decoration:before {
    top: -20px;
 }
 .form-left-decoration:after {
    top: 20px;
    left: 0.83vw;
 }
 .form-right-decoration:before {
    top: -20px;
    right: 0;
 }
 .form-right-decoration:after {
    top: 20px;
    right: 0.83vw;
 }
 .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
 }
 .form-inner {
   padding: 50px;
}
 .form-inner input {
    display: block;
    width: 80%;
    padding: 0 1.67vw;
    margin-bottom: 0.83vw;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 1.67vw;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
 }
 .form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
 }
 .button {
    display: block;
    width: 80%;
    padding: 0 20px;
    margin-bottom: 0.83vw;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    background: #01ac01;
    border-bottom: 4px solid #005212;
    color: white;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
 }
 .button:disabled {
     opacity: 0.5;
     cursor: not-allowed;
 }
input.ng-invalid.ng-touched{
  color: red;
  border: 2px solid red;
  border-radius: 1.67vw;
  outline: 0;
}
.has-error{
   font-size: small;
   color: red;
}
