<form [formGroup]="form" (ngSubmit)="submitForm()">
 <input class="input" type="text" placeholder="Token name"
 formControlName="name" [ngClass]="{'has-error': form.get('name')?.invalid && form.get('name')?.touched}">
 <input class="input" type="number" placeholder="Operations"
 formControlName="txsCount24" [ngClass]="{'has-error': form.get('txsCount24')?.invalid && form.get('txsCount24')?.touched}">
 <input class="input" type="number" placeholder="24h"
 formControlName="txsCountCurrent1D" [ngClass]="{'has-error': form.get('txsCountCurrent1D')?.invalid && form.get('txsCountCurrent1D')?.touched}">
 <input class="input" type="number" placeholder="7d"
 formControlName="txsCountCurrent7D" [ngClass]="{'has-error': form.get('txsCountCurrent7D')?.invalid && form.get('txsCountCurrent7D')?.touched}">
 <input class="input" type="number" placeholder="30d"
 formControlName="txsCountCurrent30D" [ngClass]="{'has-error': form.get('txsCountCurrent30D')?.invalid && form.get('txsCountCurrent30D')?.touched}">
 <p class="message-error" *ngIf="(allControls[0].invalid && allControls[0].touched) || (allControls[1].invalid && allControls[1].touched)
 || (allControls[2].invalid && allControls[2].touched) || (allControls[3].invalid && allControls[3].touched)
 || (allControls[4].invalid && allControls[4].touched)"
 >Please fill in all fields or enter the correct data!</p>
 <div class="conteiner-input-type-file">
  <img [src]="tokenImgSrc" class="image-downloaded">
  <label for="file-upload" class="custom-file-upload">Download image</label>
  <input id="file-upload" type="file" (change)="onImageSelected($event)">
 </div>
 <button class="button" type="submit" mat-stroked-button (click)="success()"
 [disabled]="form.invalid || this.tokenImgSrc === ''">Add</button>
</form>
