// Styles for header

#header {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
}

// Styles for menu
nav {
    position: sticky;
    top: 0;
}
#navbar ul{
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
  }
  #navbar, #navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #navbar {
    height: 30px;
    background-color: #666;
    padding-left: 25px;
    min-width: 470px;
  }
  #navbar li {
    float: left;
    position: relative;
    height: 100%;
  }
  #navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  #navbar ul li { float: none; }
  #navbar li:hover { background-color: #f90; }
  #navbar ul li:hover { background-color: #666; }

  // Styles for footer

  #footer {
        position: absolute;
        text-align: center;
        left: 0;
        bottom: auto;
        width: 100%;
        height: 80px;
  }

  // example

  div {
      height: 500px;
  }