.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header {
    text-align: center;
    color: white;
    left: 0;
    margin-bottom: 50px;
  }
  .footer {
    margin-top: 30px;
    text-align: center;
    color: white;
  }

// Styles for menu

nav {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    background-color: rgba($color: #666, $alpha: 0.5);
}
.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 30px;
    padding-left: 25px;
    min-width: 470px;
    li {
      float: left;
      height: 100%;
      a {
        display: block;
        padding: 6px;
        width: 100px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
      }
    }
  }
 .navbar ul li { float: none; }
 li:hover { 
    background-color: rgba($color: rgb(0, 163, 0), $alpha: 1.0)
   }

   .admin-mode{
     font-size: small;
   }

   #burger, [for=burger]{
     display: none;
   }

   // for mobile
   @media screen and (max-width: 768px){
    nav{
      background-color: transparent;
     }
     [for=burger]{
       display: block;
       font-size: 6vw;
       color: white;
       background-color: rgba($color: #666, $alpha: 0.5);
     }
     [for=burger]::before{
       content: "\2630";
     }
     .navbar{
       display: none;
     }
     #burger:checked + label + .navbar{
       display: flex;
       flex-direction: column;
     }
     .navbar li{
       width: 25%;
     }
     #burger:checked +[for=burger]::before{
       content: "✕";
       font-size: 5vw;
       padding-left: 1vw;
     }
   }