<div class="wrapper">
  <nav>
    <ul class="navbar">
      <li><a routerLink="/">Tokens</a></li>
      <li><a routerLink="/news">News</a></li>
      <li><a routerLink="/else">Else</a></li>
      <li style="float:right" class="admin-mode"><a routerLink="/admin-mode">Admin Mode</a></li>
    </ul>
  </nav>
<header class="header">THIS IS HEADER
</header>
<app-preloader *ngIf="loadingService.isLoading | async"></app-preloader>
<router-outlet></router-outlet>
<footer class="footer">THIS IS FOOTER</footer>
</div>
