<main>
    <table style='color: white'>
        <thead>
            <tr>
                <th>Tokens</th>
                <th>Price</th>
                <th>Market Capitalization</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of currentData">

                 <td>
                    <img [src]="url + item.image" [alt]="item.name">
                    {{ item.name }}
                 </td>
                 <td>${{ item.price.rate | number:'1.2-2' }}</td>
                 <td>{{ item.price.marketCapUsd | prettyNum }}</td> 
                   
            </tr>
        </tbody>
    </table>
</main>

