<div class="container">
  <button mat-icon-button class="close" [autofocus]="false" (click)="dialogRef.close()">
    <mat-icon>X</mat-icon>
  </button>
  <div class="image">
    <ng-template *ngIf="data.image !== undefined; then thenBlock3 else elseBlock3"></ng-template>
    <ng-template #thenBlock3>
      <img [src]="data.image | appImageToken:data?.name!" [alt]="data.name"
           width="100px">
    </ng-template>
    <ng-template #elseBlock3>
      <img [src]="data.image | appImageToken:data?.name! | appDetailsImageToken" [alt]="data.name" width="100px">
    </ng-template>
  </div>
  <div class="info">
    <div class="info__item">
      <span>Name:</span>
      <span>{{ data.name }}</span>
    </div>

    <div class="info__item">
      <span>Price:</span>
          <span>{{ data.price.rate | number:'1.2-2' }}</span>
    </div>

    <div class="info__item">
      <span>Symbol:</span>
        <span>{{ data.symbol }}</span>
    </div>

    <div class="info__item">
      <span>Capitalization:</span>
      <span>{{ data.cap | appPrettyNum }}</span>
    </div>

    <div class="info__item">
      <span>Twitter:</span>
      <ng-template *ngIf="data.twitter; then thenBlock else elseBlock">
      </ng-template>
      <ng-template #thenBlock>
        <span>{{ data.twitter }}</span>
      </ng-template>
      <ng-template #elseBlock>
        <span>No twitter</span>
      </ng-template>
    </div>
  </div>
</div>
