/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    margin: 0;
    background-image: url("assets/pexels-markus-spiske-1089438.jpg");
    background-size: 100% 120%;
}